body{
    background-color: rgb(3, 3, 60);
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}
div{
    height: 100px;
    width: 200px;
    background-color: pink;
    border-radius: 18px;
    position: relative;
}
div::before,div::after{
content: '';
position: absolute;
top: -5px;
left: -4px;
background: linear-gradient(45deg,red,blue,green);
border-radius: 18px;
background-size: 400px;
height: calc(100% + 9px);
width:  calc(100% + 9px);
z-index: -1;
animation: ani 20s  linear infinite;
}
@keyframes ani {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
    
}